.box {
  box-sizing: border-box;
  max-width: 1640px;
  width: 90%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 6, 202);
  color: white;
  padding-left: 70px;
  padding-right: 70px;
  font-weight: lighter;
}
.img {
  max-width: 28px;
  max-height: 29px;
}
.background {
  background-color: rgb(6, 6, 202);
  height: 100vh;
}
.parent {
  height: 90vh;
  display: grid;
  vertical-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.section {
  background-color: white;
  grid-auto-rows: minmax(200px, auto);
  color: rgb(6, 6, 202);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.section:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.section:nth-child(3) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
.section:nth-child(4) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.section:nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}
.section:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.section:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.section:nth-child(8) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}
.section:nth-child(9) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
.section:nth-child(10) {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}
.section:nth-child(11) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.section:nth-child(12) {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
}
.section:nth-child(13) {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}
